{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "indentation": 2,
    "selector-type-no-unknown": [true, {
      "ignore": ["default-namespace"]}],
    "max-empty-lines": 1,
    "block-closing-brace-empty-line-before": "never"
  }
}
